<header class="header-container">
    <h1>Group 5's Burgers and Fries</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
</header>

<div class="row">
    <div class="col-md-6">
      <h2>Login to Order!</h2>
  
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary login-button" type="submit">login</button>
          <button class="btn btn-primary signup-button" type="submit">signup</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      {{#if show_register}}
      <h2>Register</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
      {{else}}
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </div>
  </div>
  
  <script src="./js/login.js"></script>
  
