<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Group 5's Burger and Fries</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/Ryan UI .HTML/menu.css"/> 
    <header class="title">
      <h1> Group 5's Burger and Fries</h1> 
      <h1>Menu</h1>
      </header>
  </head>
  <body>
       <div id="style" class="container">
          <div class="columns features">
            <div class="column is-2" >
              <div class="card is-shady">
                <div class="card-image">
                  <figure class=".image is-4by4">
                    <img
                      
                      src="/proj2-restaurant-mgmt-sys/public/images/Beef-Burger.jpeg"
                      alt="Juicy Beef Burger"
                      class="modal-button"
                      data-target="modal-image1"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>Beef Burger</h4><h3><span>$6.00</span></h3>
                    <p>
                      Organically raised humanely fed beef burger with lettuce,
                      and special sauce. Plain and simple all natural burger.
                    </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="1"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select id="qty1"> 
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                         </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/turkey-burger.jpeg"
                      alt="Juicy Turkey Burger"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>Turkey Burger</h4><h3><span>$5.00</span></h3>
                    <p>
                      Our signature organically raised turkey burger was raised
                      humanely in a cage free environment.
                    </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="2"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-6by7">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/veggie-burger.jpeg"
                      alt="Veggie Burger"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>Veggie Burger</h4><h3><span>$5.00</span></h3>
                    <p>
                      Organic non-gmo veggie burger with lettuce, tomato, and
                      fresh avocado. Topped with our special sauce.
                    </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="3"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="column is-2 modal-button" data-target="modal-card">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by4">
                      <img
                        src="/proj2-restaurant-mgmt-sys/public/images/Fries.jpg"
                        alt="Photo of fries"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h4>Fries</h4><h3><span>$2.00</span></h3>
                      <p>
                        Our french fries are hand picked potatoes from the finest
                        farms in the world. Hand cut and fried to perfection.
                      </p>
                      <div id="add">
                        <span
                          class="button is-success is-small is-rounded"
                          id="4"
                          data-target="modal-image2"
                          >Add to Order</span
                        >
                        <div class="select is-small">
                          <select>
                            <option>Quantity</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-2">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by4">
                      <img
                        src="/proj2-restaurant-mgmt-sys/public/images/chips.jpg"
                        alt="Photo of chips"
                        class="modal-button"
                        data-target="modal-image4"
                      />
                    </figure>
                  </div>
                  <div
                    class="card-content modal-button"
                    data-target="modal-card2"
                  >
                    <div class="content">
                      <h4>Chips</h4><h3><span>$1.00</span></h3>
                      <p>
                        Our chips are made from the finest potatoes in the world
                        as well. Hand picked and made to order. Organic grown.
                      </p>
                      <div id="add">
                        <span
                          class="button is-success is-small is-rounded"
                          id="5"
                          data-target="modal-image2"
                          >Add to Order</span
                        >
                        <div class="select is-small">
                          <select>
                            <option>Quantity</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
          
          <div class="columns features">
            <div class="column is-2 modal-button" data-target="modal-card">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/soda.jpeg"
                      alt="Photo of soda"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>Soda</h4><h3><span>$1.50</span></h3>
                    <p>
                      What we are know for is the rotating flavors of hand
                      crafted soda we make.
                    </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="6"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/water.jpeg"
                      alt="Photo of Water"
                      class="modal-button"
                      data-target="modal-image4"
                    />
                  </figure>
                </div>
                <div
                  class="card-content modal-button"
                  data-target="modal-card2"
                >
                  <div class="content">
                    <h4>Water</h4><h3><span>$1.25</span></h3>
                    <p>Pure water from the mountains of Colorado. The most refreshing taste of the mountains. </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="7"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
       
            <div class="column is-2 modal-button" data-target="modal-card">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/cookies.jpeg"
                      alt="Photo of cookies"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4>Cookies</h4><h3><span>$2.00</span></h3>
                    <p>
                      Fresh baked cookies made from the finest ingredients,
                      different every day. Organic and non-gmo.
                    </p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="9"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <div class="card is-shady">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img
                      src="/proj2-restaurant-mgmt-sys/public/images/fruitsalad.jpeg"
                      alt="Photo of fresh fruit basket"
                      class="modal-button"
                      data-target="modal-image4"
                    />
                  </figure>
                </div>
                <div
                  class="card-content modal-button"
                  data-target="modal-card2"
                >
                  <div class="content">
                    <h4>Fruit Salad</h4><h3><span>$2.00</span></h3>
                    <p>A mixture of seasonal fruits, hand cut to perfection and always fresh. Made in small batches.</p>
                    <div id="add">
                      <span
                        class="button is-success is-small is-rounded"
                        id="8"
                        data-target="modal-image2"
                        >Add to Order</span
                      >
                      <div class="select is-small">
                        <select>
                          <option>Quantity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div id="main">
            <div id="order">
              <h1 id="orders">Order<h1>
            </div>
            <table class="table is-bordered is-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th><abbr>Food</abbr></th>
                  <th><abbr>Quantity</abbr></th>
                  <th><abbr>Price</abbr></th>
                  <th><abbr>Total</abbr></th>
                </tr>
                <tr id="g-enoa">
                  <th>1</th>
                  <td id="a-a">Beef Burger</td>
                  <td id="a-b"></td>
                  <td>6</td>
                  <tr id="g-enoa">
                    <th>2</th>
                    <td id="a-a">Turkey Burger</td>
                    <td id="a-b"></td>
                    <td>5</td>
                    <tr id="g-enoa">
                      <th>3</th>
                      <td id="a-a">Veggie Burger</td>
                      <td id="a-b"></td>
                      <td>5</td>
                      <tr id="g-enoa">
                        <th>4</th>
                        <td id="a-a">Fries</td>
                        <td id="a-b"></td>
                        <td>2</td>
                        <tr id="g-enoa">
                          <th>5</th>
                          <td id="a-a">Chips</td>
                          <td id="a-b"></td>
                          <td>1</td>
                          <tr id="g-enoa">
                            <th>6</th>
                            <td id="a-a">Soda</td>
                            <td id="a-b"></td>
                            <td>1.50</td>
                            <tr id="g-enoa">
                              <th>7</th>
                              <td id="a-a">Water</td>
                              <td id="a-b"></td>
                              <td>1.25</td>
                              <tr id="g-enoa">
                                <th>8</th>
                                <td id="a-a">Fruit Salad</td>
                                <td id="a-b"></td>
                                <td>2</td>
                                <tr id="g-enoa">
                                  <th>9</th>
                                  <td id="a-a">Cookies</td>
                                  <td id="a-b"></td>
                                  <td>2</td>
                                  
              </thead>
              <tbody>
          </div>
          <div></div>
        </section>
      </div>
    </section>
    <script src="/proj2-restaurant-mgmt-sys/public/js/orders.js"></script>
  </body>
</html>

<!-- make 4 boxes/Cards Horizontal with Pictures and then drop down menu for each item 
Group 5’s Burger and Fries at the end showing the menu items and prices.




Name
First 
Last


Option 1

Beef Burger  - 6.00
 
Turkey Burger - $5.00

Veggie Burger - $4.00

Option 2

Fries - $2.00
Chips - $1.00

Option 3

Soda $1.50
Water $1.25

Option 4 

Fruit Salad $2.00-->
