<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Group 5's Burger and Fries</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/menu.css" />
</head>

<body>
  <input type="hidden" id="customer_id" value="{{customer_id}}" />
  <h1>Group 5's Burgers and Fries - Place Your Order</h1>
  <div id="style" class="container">
    <div class="columns features">
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class=".image is-4by4">
              <!-- must use relative paths NOT absolute paths to files or doesn't work in default browser. -->
              <img src="/images/Beef-Burger.jpeg"  
                alt="photo of juicy beef burger with cheese, lettuce and tomato" class="modal-button"
                data-target="modal-image1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Beef Burger</h4>
              <h3><span>$6.00</span></h3>
              <p>
                Organically-raised, humanely fed beef burger with lettuce,
                and special sauce. Plain and simple all natural burger.
              </p>
              <div id="add">
                <span id="beefAdd-1" class="button is-success is-small is-rounded" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/turkey-burger.jpeg"
                alt="photo of a fresh juicy turkey burger with lettuce, tomato and onion" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Turkey Burger</h4>
              <h3><span>$5.00</span></h3>
              <p>
                Our signature organically raised turkey burger was raised
                humanely in a cage-free environment.
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="turkeyAdd-2" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-6by7">
              <img src="/images/veggie-burger.jpeg"
                alt="photo of a veggie burger on a fresh bun with lettuce and fresh toppings" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Veggie Burger</h4>
              <h3><span>$5.00</span></h3>
              <p>
                Organic non-gmo veggie burger with lettuce, tomato, and
                fresh avocado. Topped with our special sauce.
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="veggieAdd-3" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty3">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-2 modal-button" data-target="modal-card">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/Fries.jpg" alt="Photo of fresh-cut fries in a basket with herbs" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Fries</h4>
              <h3><span>$2.00</span></h3>
              <p>
                Our french fries are hand-picked potatoes from the finest
                farms in the world. Hand-cut and fried to perfection.
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="friesAdd-4" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty4">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/chips.jpg" alt="Photo of fresh-cut, delicious-looking chips"
                class="modal-button" data-target="modal-image4" />
            </figure>
          </div>
          <div class="card-content modal-button" data-target="modal-card2">
            <div class="content">
              <h4>Chips</h4>
              <h3><span>$1.00</span></h3>
              <p>
                Our chips are made from the finest potatoes in the world
                as well. Hand-picked and made to order. Organically grown.
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="chipsAdd-5" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty5">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="columns features">
      <div class="column is-2 modal-button" data-target="modal-card">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/soda.jpeg" alt="Photo of soda in a glass with a straw" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Soda</h4>
              <h3><span>$2.00</span></h3>
              <p>
                We are known for the rotating flavors of the hand-crafted soda we make. Refreshing and surprising
                quality!
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="sodaAdd-6" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty6">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/water.jpeg" alt="Photo of water in a glass with a straw" class="modal-button"
                data-target="modal-image4" />
            </figure>
          </div>
          <div class="card-content modal-button" data-target="modal-card2">
            <div class="content">
              <h4>Water</h4>
              <h3><span>$1.00</span></h3>
              <p>Pure water from the mountains of Colorado. The most refreshing taste of the mountains. </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="waterAdd-7" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty7">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="column is-2">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/fruitsalad.jpeg" alt="Photo of fresh cut fruit in a bowl" class="modal-button"
                data-target="modal-image4" />
            </figure>
          </div>
          <div class="card-content modal-button" data-target="modal-card2">
            <div class="content">
              <h4>Fruit Salad</h4>
              <h3><span>$2.00</span></h3>
              <p>A mixture of seasonal fruits, hand-cut to perfection and always fresh. Made in small batches.</p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="fruitSaladAdd-8" data-target="modal-image2">Add
                  to Order</span>
                <div class="select is-small">
                  <select id="qty8">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2 modal-button" data-target="modal-card">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/cookies.jpeg" alt="Photo of cookies in a basket" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Cookies</h4>
              <h3><span>$2.00</span></h3>
              <p>
                Fresh-baked cookies made from the finest ingredients,
                different every day. Organic and non-gmo.
              </p>
              <div id="add">
                <span class="button is-success is-small is-rounded" id="cookieAdd-9" data-target="modal-image2">Add to
                  Order</span>
                <div class="select is-small">
                  <select id="qty9">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="order">
      <h1 id="orders">Your Order<h1>
    </div>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th><abbr>Food</abbr></th>
          <th><abbr>Quantity</abbr></th>
          <th><abbr>Price</abbr></th>
          <th><abbr>Total</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr id="beef">
          <th>1</th>
          <td id="a-a">Beef Burger</td>
          <td id="a-1"></td>
          <td>$6.00</td>
          <td id="t-1"></td>
        </tr>
        <tr id="turkey">
          <th>2</th>
          <td id="a-a">Turkey Burger</td>
          <td id="a-2"></td>
          <td>$5.00</td>
          <td id="t-2"></td>
        </tr>
        <tr id="g-enoa">
          <th>3</th>
          <td id="a-a">Veggie Burger</td>
          <td id="a-3"></td>
          <td>$5.00</td>
          <td id="t-3"></td>
        </tr>
        <tr id="g-enoa">
          <th>4</th>
          <td id="a-a">Fries</td>
          <td id="a-4"></td>
          <td>$2.00</td>
          <td id="t-4"></td>
        </tr>
        <tr id="g-enoa">
          <th>5</th>
          <td id="a-a">Chips</td>
          <td id="a-5"></td>
          <td>$1.00</td>
          <td id="t-5"></td>
        </tr>
        <tr id="g-enoa">
          <th>6</th>
          <td id="a-a">Soda</td>
          <td id="a-6"></td>
          <td>$2.00</td>
          <td id="t-6"></td>
        </tr>
        <tr id="g-enoa">
          <th>7</th>
          <td id="a-a">Water</td>
          <td id="a-7"></td>
          <td>$1.00</td>
          <td id="t-7"></td>
        </tr>
        <tr id="g-enoa">
          <th>8</th>
          <td id="a-a">Fruit Salad</td>
          <td id="a-8"></td>
          <td>$2.00</td>
          <td id="t-8"></td>
        </tr>
        <tr id="g-enoa">
          <th>9</th>
          <td id="a-a">Cookies</td>
          <td id="a-9"></td>
          <td>$2.00</td>
          <td id="t-9"></td>
        </tr>
        <tr id="g-enoa">
          <th>TOTAL</th>
          <td></td>
          <td></td>
          <td></td>
          <td id="finalTotal"></td>
        </tr>
      </tbody>
    </table>
    <div id="submit-order">
      <button class="button is-primary" id="submit-btn">Place Order</button>
      <a href='/homepage'><button class="button is-primary">Back to Homepage</button></a>
    </div>
  </div>
  </section>
  </div>
  </section>
  <script src="/js/orders.js"></script>
</body>

</html>

<!-- make 4 boxes/Cards Horizontal with Pictures and then drop down menu for each item 
Group 5’s Burger and Fries at the end showing the menu items and prices.




Name
First 
Last


Option 1

Beef Burger  - 6.00
 
Turkey Burger - $5.00

Veggie Burger - $4.00

Option 2

Fries - $2.00
Chips - $1.00

Option 3

Soda $1.50
Water $1.25

Option 4 

Fruit Salad $2.00-->