    <div>
      <h2>Register a New Account</h2>
      <form class="form signup-form" action="/api/users/register" method="POST">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input class="form-input" type="text" id="fname" name="customer_first_name" />
        </div>
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input class="form-input" type="text" id="lname" name="customer_last_name" />
        </div>
        <div class="form-group">
          <label for="uname">Username</label>
          <input class="form-input" type="text" id="uname" name="customer_login" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-input" type="password" id="password" name="customer_password" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </form>
    </div>
  

