body {
    background-color: darkolivegreen;
    padding: 30px 16px;
    font-weight: bold;
    min-height: 100%;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

html,
body {
    height: 100%;
}

a,
a:link {
    color: rgb(203, 255, 113);
}

header h1 {
    color: white;
    font-weight: bold;
    background-color: black;
    /*behind white text*/
}

h1,
h2,
p {
    color: white;
    font-weight: bold;
}

.header-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container img {
    width: 10%;
}

/* align input boxes in register and login forms */
div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
    color: white;    
}

a:hover {
    color: white;
}

/* - Table Overflow Wrapper used to allow table to maintain its full-width on small screens (responsive) */
.table-overflow-wrapper {
    max-width: 100%;
    overflow: auto;
}

/* Make the table full width of the container */
table {
    position: relative;
    width: 100% !important;
}

/* Add some padding to the td (vieworders.handlebars) */
td {
    padding: .5rem 1rem;
    color: white;
}