* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 30px 16px;
}

/* Make sure html and body are the full height of the window */
html, body {
  background-color: darkolivegreen;
  height: 100% !important;
}

/* .body {
  background-color: aqua;
} */

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  background-color: black;
}

.title {
  font-size: 44px; 
  font-weight: bold;
  text-align: center;
  margin: 10px;
  color: white;
  background-color: black;
  /* match font in homepage */
  font-family: 'Times New Roman', Times, serif;
}

/* ~ THIS IS THE FLOATING MENU PAGE ON placeorder.handlebars */
#main {
  width: 100vw;
  background-color: black;
  border: 1px solid black;
  z-index: 20;
  position: fixed;
  right: -95vw;
  top: 150px;
  height: 750px;
  transition: .3s;
  display: flex;
  flex-direction:column;
  align-items: center;
}

#main:hover{
  right: 0vw;
}

#main table{
  width: 90%;
}

#add {
  display: flex;
  justify-content: space-around;
}

#style {
  margin: 47px;
}

#order {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#orders {
  margin-top: 5px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;

}

/* place order button */
#submit-order {
  /* position: end; */
  text-align: center;
}

#order-table{
  border: 3px solid red;
}