<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
</html>

{{!-- 
Handlebars.js is a javascript application, istt will read the files and replace "mustache / handlebars"  sections with the keyword (key:value) provided

render('page', { hello: 'World!'})

<div>{{hello}}</div>

becomes

<div>World!</div>



Handlebars will also insert whole components / partials / views into certain ares using reserve words:
{{{body}}} <-- note the triple curlies

 --}}